h1 {
  background-color: black;
  color: lime;
  text-align: center;
  font-family: cursive;
  font-style:italic;
  margin: 80px;
  padding: 70px;
  letter-spacing: 8px;
}
h2 {
  text-align: center;
}
h3 {
  text-align:center;
  font-size: 25px;
  color: red;
}
h4 {
  color:limegreen;
}
hr{
  height: 5px;
  width:50%;
  background-color: purple;
  color: purple;
  border: none;
  border-top: 10px dashed red;
}
 body {
  background-color: black;
  color: red;
}
article {
  text-align: center;
  color:red;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:white; 
  font-size: 14px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 ul {
   display: table;
   margin: 0 auto;
   color:blueviolet;
   font-size: 20px;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
 }
footer {
  color: white;
  text-align:center;
}
a:link {
  color: green;
}
a:visited {
  color: purple;
}
a:hover {
  color:red;
}
a:active {
  color:lightskyblue;
}
ol {
  display:table;
  margin: 0 auto;
}
 div {
        width: auto;
        text-align: center;
        padding: 15px;
        border: 3px;
 }
img {
        max-width: 100%;
        height: auto;
      }

